<h1>{{title}}</h1>

<form action="" method="POST">
    <div class="form-group">
        <label for="name">Genre:</label>
        <input type="text" id="name" class="form-control" placeholder="Fantasy, Poetry, etc..." name="name" value="{{#if genre}}{{genre.name}}{{/if}}">
        <button class="btn btn-primary" type="submit">Submit</button>

        {{#if errors}}
        <ul>
            {{#each errors}}
            <li>{{this.msg}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</form>